
.idea/
information_security/fifth_try.h5
*.h5
*.json
resource/
resource/op-cleaver
image_processing\homework2\result\feature.txt
image_processing\homework2\rgb_xgb.model
small_gram/all_zero.py
small_gram/video_op.py
_windows/
codestyles/
small_gram/__pycache__/
information_security/__pycache__/
image_processing/homework2/__pycache__/
language_process/rule_optimize.py
language_process/train_rule_eval.py
small_gram/read_pdf.py
webServers.xml
proxy.settings.xml

