
.idea/
_windows/
codestyles/
resource/
**/__pycache__/

*.h5
*.json
*.xml

resource/op-cleaver
image_processing\homework2\result\feature.txt
image_processing\homework2\rgb_xgb.model
small_gram/all_zero.py
small_gram/video_op.py

language_process/rule_optimize.py
language_process/train_rule_eval.py
small_gram/read_pdf.py

interview_q/PAT/generate_daily_log.py
interview_q/PAT/计算train和test的内容重复率.py

language_process/hi_tensorflow/output/*
